<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM" version="8.1.5717.0" targetFramework="net461" />
  <package id="SimpleNetNlp" version="3.8.0" targetFramework="net461" />
  <package id="SimpleNetNlp.Models.LexParser" version="3.8.0" targetFramework="net461" />
  <package id="SimpleNetNlp.Models.Naturalli" version="3.8.0.1" targetFramework="net461" />
  <package id="SimpleNetNlp.Models.Ner" version="3.8.0" targetFramework="net461" />
  <package id="SimpleNetNlp.Models.Parser" version="3.8.0" targetFramework="net461" />
  <package id="SimpleNetNlp.Models.PosTagger" version="3.8.0" targetFramework="net461" />
  <package id="SimpleNetNlp.Models.Sentiment" version="3.8.0" targetFramework="net461" />
</packages>